langchain==0.3.10
langchain-community==0.3.10
langchain-core==0.3.22
langchain-openai==0.2.11
langchain-ollama==0.2.1
langchain-text-splitters==0.3.2
langsmith==0.1.147
openai==1.57.0
pydantic~=2.10.3
torch>=2.6.0
pypdf~=5.1.0
transformers>=4.48.0
qdrant-client~=1.12.1